*{
    margin: 0;
    padding: 0;
}
#menu-titular{
    display: none;
}
#iconos-ocultos{
    display: none;
}
.posicion-interna{
    float: left;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
    font-family: Muli;
    font-weight: 700;
    font-size: 14px;
    color: white;
    
}
#navbar-contenedor{
    width: 100%;
    height: 55px;
    background:#0077ba;
}
#div-imagen{
    padding-top: 10px;
    float: left;
    padding-left: 30px;

}
.p-interna-derecha{
    float: left;
    margin-right: 20px;
    padding-top: 16px;
    padding-bottom: 10px;
    padding-left: 5px; padding-right: 5px;
}
.p-interna-derecha:hover{
    background:#024f7d;
}
.posicion-interna:hover{
    background: #024f7d;
}



#btn-dropdown{
    height: 53px;
    background: #0677ba;
    border-style: none;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    font-family: Muli;
    font-weight: 700;
    font-size: 14px;
    color: white;
}
#btn-dropdown:hover{
    background: #024f7d;
}
#dropdown-interno{
    background: #024f7d;
    font-family: Muli;
    font-size: 14px;
    font-weight: 200;
}
.estilo-anchor{
    color: white;
}
.estilo-anchor:hover{
    background: #002c47;
    color: white;
}
.s{
    float: left;
}
.icon-o{
    float: left;
    padding-left: 5%;
}
.icon-o :hover{
    color: black;
}

@media screen and (max-width: 1000px){
    #navbar-contenedor{
        
        left: -100%;
        position: fixed;
        width: 80%;
        height: auto;
        margin: 0;
        background: #0077ba;
        padding-left: 10px;
        
    }
    
    .posicion-interna{
        margin: 0;
        float: none;
        display: block;
        border-bottom: 1px solid white;
    }
    #div-imagen{
        display: none;
    }
    #menu-titular{
        height: 60px;
        display: block;
        width: 100%;
        background: #0077ba;
        padding-top: 2%;
        padding-bottom: 2%;
        font-family: Muli;
        font-size: 25px;
        padding-left: 10px;
        color: white;
        ;

    }
    #div-iconos{
        display: none;
    }
    #anclaje-boton{
        padding-right: 15px;
        color: white;


    }
    
}